[Desktop Entry]
Encoding=UTF-8
Version=3.0
Name=Open in a already-opened GVIM
Name[zh_CN]=在已有的 GVIM 里打开
GenericName=Text Editor
Type=Application
TryExec=vv
Exec=vv %u
Icon=gvim
Terminal=false
X-MultipleArgs=false
Categories=GTK;Application;Utility;TextEditor;
MimeType=application/mathml+xml;application/xhtml+xml;application/x-perl;application/x-python;application/x-shellscript;audio/x-mpegurl;audio/x-scpls;image/svg+xml;text/calendar;text/css;text/english;text/html;text/mrml;text/plain;text/rdf;text/rss;text/rtf;text/sgml;text/vnd.wap.wml;text/x-adasrc;text/x-bibtex;text/x-chdr;text/x-c++hdr;text/x-csrc;text/x-c++src;text/x-c;text/x-objc;text/x-csv;text/x-diff;text/x-java;text/x-katefilelist;text/x-latex;text/x-log;text/x-lyx;text/x-makefile;text/xmcd;text/xml;text/x-moc;text/x-mswinurl;text/x-objcsrc;text/x-pascal;text/x-perl;text/x-php;text/x-php-source;text/x-python;text/x-tcl;text/x-tex;text/x-vcalendar;text/x-vcard;text/x-xslfo;text/x-xslt;x-scheme-handler/vv;x-scheme-handler/fugitive;
